
<!--============================
=            Footer            =
=============================-->

<footer class="footer-main" style="background-color: white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            UT Sciences Toastmasters
            <div class="footer-logo">
              <!-- <img src="images/footer-logo.png" alt="logo" class="img-fluid"> -->
              <img src="images/logo.png" alt="logo" class="img-fluid">
            </div>
            <ul class="social-links-footer list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/groups/UTSTM"><i class="fa fa-facebook"></i></a>
              </li>
              <!-- <li class="list-inline-item">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li> -->
              <li class="list-inline-item">
                <a href="https://www.instagram.com/utsciencestoastmasters/?hl=en"><i class="fa fa-instagram"></i></a>
              </li>
              <!-- <li class="list-inline-item">
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-vimeo"></i></a>
              </li> -->
            </ul>
          </div>

        </div>
      </div>
    </div>
</footer>